{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="h-screen w-full">

        {% set max_lifes_prop = maxLifes is defined ? maxLifes : 3 %}
        
        <div {{ react_component('GameInterface', {
            'levelId': level.id ?? 0,
            'language': language,
            'tips': tips|json_encode|raw,
            'levelNumber': levelNumber,
            'enonce': enonce|json_encode|raw,     
            'lifes': lifes,
            'maxLifes': max_lifes_prop,
            'hintContent': (level.hint|default('Pas d\'astuce disponible.'))|json_encode|raw
        }) }}>
            {# Message de chargement #}
            <p class="text-center text-xl p-8 text-gray-700">Chargement de l'interface de jeu...</p>
        </div>
    </div>

{% endblock %}