<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>{% block title %}Bienvenue{% endblock %}</title>

        {# Feuilles de style #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {# JavaScript chargé dans le head pour Turbo #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        
        {# Contenu de la page spécifique #}
        {% block body %}{% endblock %}

    </body>
</html>